<div class="panel panel-primary" style="margin:20px;">
	<div class="panel-heading">
        	<h3 class="panel-title">Registration Form</h3>
	</div>
<div class="panel-body">
    <form>
<div class="col-md-12 col-sm-12">
    <div class="form-group col-md-6 col-sm-6">
        <label for="partner">Business Partner Type:*</label><br>
        <input type="radio" id="test1" name="radio-group" >
          <label for="test1">Buyer</label><br>
    
  
      <input type="radio" id="test2" name="radio-group" style="margin-left:100px;">
      <label for="test2">Seller</label>
    </div>
	<div class="form-group col-md-6 col-sm-6">
            <label for="name">Name*	</label>
            <input type="text" class="form-control input-sm" id="name" placeholder="">
        </div>
        <div class="form-group col-md-6 col-sm-6">
            <label for="email">Location*</label>
            <input type="email" class="form-control input-sm" id="email" placeholder="">
        </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="mobile">District*</label>
            <input type="text" class="form-control input-sm" id="mobile" placeholder="">
        </div>
        


<div class="form-group col-md-6 col-sm-6">
  <label for="pincode">Pincode</label>
  <input type="text" class="form-control input-sm" id="pincode" placeholder="">
</div>

</div>

<div class="col-md-12 col-sm-12">
	<div class="form-group col-md-3 col-sm-3 pull-right" >
    <table>
      <tr>
        <td>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </td>
        <td>
            <a style="margin-left:440px" href="/login">Cancel</a>
        </td>
      </tr>
    </table>
      
     
  </div>
  
	
</div>
</form>
</div>